<div class="main-title">Clients</div>
<div>
  <div class="client-container" >
    <div class="client">
      <div class="client-name">
        First Name 
      </div>
      <div class="client-last-name">
        Last Name 
      </div>
      <div class="client-email">
        Email
      </div>
      <div class="client-last-name">
        Birthday
      </div>
      <div class="client-email">
        Phone
      </div>
      <div class="client-name">
      </div>
    </div>
    <ng-container *ngFor="let client of clients">
      <div class="client">
        <div class="client-name">
         {{ client.client_name }}
        </div>
        <div class="client-last-name">
           {{ client.client_lastname }}
        </div>
        <div class="client-email">
           {{ client.email }}
        </div>
        <div class="client-last-name">
          {{ client.birthday | date : 'MMM d, y' }}
        </div>
        <div class="client-email">
          {{ client.client_phone }}
        </div>
        <div class="client-name">
          <button (click)="editClient(client)">edit</button>
        </div>
      </div>
    </ng-container>
    <div class="client" [formGroup]="form">
      <div class="client-name">
        <input type="text" formControlName="firstName">
      </div>
      <div class="client-last-name" >
        <input type="text" formControlName="lastName">
      </div>
      <div class="client-email">
        <input type="email" formControlName="email">
      </div>
      <div class="client-last-name" >
        <input type="date" formControlName="birthday">
      </div>
      <div class="client-email">
        <input type="text" formControlName="phone">
      </div>
      <div class="client-name">
        
      </div>
    </div>
    <div class="footer-btn-container">
      <button [disabled]="isCreateDisabled" (click)="createClient()">Create</button>
      <button (click)="updateClient()">Update</button>
      <button (click)="deleteClient()">Delete</button>
    </div>
  </div>
</div>


